[access]
	inheritFrom = All-Non-CI-Projects
[receive]
	requireContributorAgreement = true
	requireChangeId = true
[access "refs/*"]
	owner = group Administrators
[project]
	description = git clone ssh://codereview.qt-project.org/qt-labs/qt-5.1-launch-demo.git
[cherryPick]
	includeReviewedOn = true
[submit]
	action = cherry pick
	mergeContent = true
[cherryPick "categoryFooters"]
	Sanity-Review = true
